<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324335167540-70ulttl98rns24lvuskd38patk0e8r2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324335167540-70ulttl98rns24lvuskd38patk0e8r2p</string>
	<key>API_KEY</key>
	<string>AIzaSyBloKpitLCyMDqM6XpawjQqLbk18dOw_m8</string>
	<key>GCM_SENDER_ID</key>
	<string>324335167540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mertaltay.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-baa4e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-baa4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324335167540:ios:2eae8d6faa7b967420c261</string>
</dict>
</plist>